@model WebKillaDeco.Models.Category
@using WebKillaDeco.Helpers

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_LayoutEmployee.cshtml";
}


<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">@Alias.CreateNewCategory</h1>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input type="file" name="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IconUrl"></label>
                    <input type="file" name="IconUrl" class="form-control" />
                    <span asp-validation-for="IconUrl" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Crear</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
