@model WebKillaDeco.Areas.Identity.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<h4>Miembro</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </span>
                    <input asp-for="Nombre" class="form-control" />
                </div>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Apellido" class="control-label">Apellido</label>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </span>
                    <input asp-for="Apellido" class="form-control" />
                </div>
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label">Nombre de usuario</label>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </span>
                    <input asp-for="UserName" class="form-control" />
                </div>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo electrónico</label>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </span>
                    <input asp-for="Email" class="form-control" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Contraseña</label>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </span>
                    <input asp-for="Password" class="form-control" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmacionPassword" class="control-label">Confirmar contraseña</label>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </span>
                    <input asp-for="ConfirmacionPassword" class="form-control" />
                </div>
                <span asp-validation-for="ConfirmacionPassword" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <a asp-action="IniciarSesion" class="btn btn-secondary"><i class="fas fa-arrow-left ml-3"></i> Atrás</a>
                <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Registrar</button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

