@model IEnumerable<WebKillaDeco.Models.Question>
@using WebKillaDeco.Helpers
@{
    ViewData["Title"] = "Index";
    
}
<div class="d-flex justify-content-center mt-3">
<h1>@Alias.QuestionsAndAnswers</h1>
</div>
<div id="questionList">
    @if (Model.Any())
    {
        foreach (var question in Model)
        {
            @Html.Partial("_QuestionPartial", question);
            <hr />
        }
    }
    else
    {
        <p>Aún no existen preguntas</p>
    }
</div>


