@model WebKillaDeco.Models.Product
@using WebKillaDeco.Helpers
@{
    ViewData["Title"] = "Ingresar Producto";
    Layout = "/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">@ViewData["Title"]</h1>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="SubCategoryId" class="control-label">@Alias.Name</label>
                    <select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId"></select>
                </div>

              @*   <div class="form-group">
                    <label asp-for="Sku" class="control-label">SKU</label>
                    <input asp-for="Sku" class="form-control" />
                    <span asp-validation-for="Sku" class="text-danger"></span>
                </div> *@

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CurrentPrice" class="control-label">Current Price</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="CurrentPrice" class="form-control col-sm-1" aria-describedby="priceHelp" />
                        <div class="input-group-append">
                            <span class="input-group-text">USD</span>
                        </div>
                    </div>
                    <small id="priceHelp" class="form-text text-muted">Enter the price in USD.</small>
                    <span asp-validation-for="CurrentPrice" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>

                <div class="form-group">
                    <label asp-for="ImageUrlFile" class="control-label">Image</label>
                    <input type="file" asp-for="ImageUrlFile" class="form-control" />
                    <span asp-validation-for="ImageUrlFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AvailableStock" class="control-label">Available Stock</label>
                    <input asp-for="AvailableStock" class="form-control col-sm-1" />
                    <span asp-validation-for="AvailableStock" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Weight" class="control-label">Weight</label>
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Dimensions" class="control-label">Dimensions</label>
                    <input asp-for="Dimensions" class="form-control" />
                    <span asp-validation-for="Dimensions" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Color" class="control-label">Color</label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Discount" class="control-label">Discount</label>
                    <input asp-for="Discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
