@model WebKillaDeco.Models.Product

@foreach (var review in Model.Qualifications)
{
    <div class="review-item">
        <h6>@review.ProductId</h6>
        <p>@review.Comment</p>
        <p><strong>Rating: </strong>@review.Rating</p>
        <p><strong>Date: </strong>@review.DateQualification.ToShortDateString()</p>
        <!-- Agrega más campos según sea necesario -->
        <hr />
    </div>
}
